{% extends "base.html" %}
{% block title%}Contact{% endblock %}

{% block content %}
<div class="row">
    <center>
    <div class="col-md-8">
        <div class="card card-body">
        <h1>Email Me</h1>
            <hr>
         <form action="" method="POST">
             <input type="email" name="email" class="form-control" placeholder="Your email address...">
             <br>
             <textarea class="form-control" rows="3" cols="10"></textarea>
             <button type="submit" class="btn btn-primary">Send Message</button>
         </form>
         </div>
        <br>

    </div>
        </center>
</div>
{% endblock %}