{% extends "base.html" %}
{% block title%}Contact{% endblock %}

{% block content %}
<div class="row">
    <center>
    <div class="col-md-8">
        <div class="card card-body">
        <h1>Contact</h1>
            <hr>
         <form action="{% url 'store:contact' %}" method="POST">
             {% csrf_token %}
             <input type="email" name="email" class="form-control" placeholder="Email address..." required><br>
             <textarea class="form-control" name="message" rows="5" cols="10" placeholder="Your message..."required></textarea>
             <br>
             <button type="submit" class="btn btn-primary">Send Message</button>
         </form>
         </div>
        <br>

    </div>
        </center>
</div>
{% endblock %}