body{
	background-color: hsl(0, 0%, 98%);
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #4f868c!important;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 78px;
    margin-top: -5px;
}

#cart-total{
    display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
    margin-left: 100px;
    margin-top:  -40px;
}

#login-btn
{
    margin-top:-12px;
    margin-right: 10px;
    margin-left: 10px;
}

#search
{
    margin-top: 5px;
	margin-left: 10px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: block;
	font-weight: 700;
	padding-right:10px;
	margin-left: 25px;
    margin-top: -40px;
}

.chg-quantity{
	width: 15px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

footer
{
	background: #2E2E2E;
	color: white;
	height: 100px;
	font-size: 20px;
	margin-top: 20px;
	line-height: 100px;
	text-align: center;
}
.container
{
	min-height: 100vh;
}

.pagination > li > a
{
    background-color: white;
    color: #2E2E2E;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #fff;
    background-color: #2E2E2E;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #2E2E2E !Important;
    border: solid 1px #5A4181 !Important;
}

.pagination > .active > a:hover
{
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181;
}
.me-2
{
	background: #37474F;
}
.profile-pic
{
	max-width: 250px;
	max-height: 250px;
	border-radius: 50%;
}

#total-orders
{
	background: #4c54c7;
}
#orders-delivered
{
	background: #2abecc;
}
#orders-pending
{
	background: #7CD1C0;
}

.navbar
    {
        padding-bottom:0;!important;
    }

.email-field
{
    width: 75%;
}
@media only screen and (max-width: 768px)
{
    #search
    {
        margin-bottom: 25px;
		margin-left: 3px;
    }
    ul li
    {
        margin-left: 3px;
    }
    #login-btn
    {
        margin-left: 3px;
    }
	.form-field
	{
		display: block;
		width: 100%;
	}
	small {
		margin-left: 3px;
	}
	.top-5
	{
		margin-top:20px;
	}
    .navbar
    {
        padding-bottom:10px;!important;
    }
}