{% extends  "base.html" %}

{% block title %}Password Reset Form{% endblock %}

{% block content %}
    <div class="jumbotron my-2 p-4 text-white bg-secondary rounded">
    <h3 class="text-white">Enter New Password</h3>
    <p>Please enter your new password twice so that we can verify you typed it in correctly.</p>

    <form action="" method="POST"> <!--action is empty due to reverse_lazy in the accounts.urls -->
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value="Update">
    </form>
    </div>
{% endblock %}