{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'store:index' %}">SHOPPERS <i class="bi bi-bag-check-fill" style="font-size:1.5rem;"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      {% if user.is_staff %}
      <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'store:admin_dashboard' %}">Dashboard</a>
        </li>
      <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'store:add_product' %}">Add Products</a>
        </li>
      {% endif %}

      {% if user.is_authenticated %}
          {% if not user.is_staff %}
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'store:items' %}">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'store:dashboard' %}">Dashboard</a>
            </li>
          {% endif %}
      {% else %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'store:items' %}">View Products</a>
        </li>
      {% endif %}
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'accounts:settings' %}">Settings</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'accounts:logout' %}">Logout</a>
        </li>
          {% endif %}
      </ul>
        {% if user.is_authenticated %}
            {% if not user.is_staff %}
            <small><a style="color:white;text-decoration:none;" href="{% url 'accounts:register' %}">Welcome, {{ user }}!</a></small>
                {% else %}
               <small><a style="color:white;text-decoration:none;" href="{% url 'accounts:register' %}">Welcome back, admin!</a></small>
            {% endif %}
        {% endif %}
      <form action="{% url 'store:search_item' %}" id="search" class="d-flex" role="search" method="POST">
          {% csrf_token %}
        <input class="form-control me-2" id="searchbox" type="search" name="keyword" placeholder="Find..." aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

        <div class="form-inline my-2 my-lg-0">
            {% if not user.is_authenticated %}
     	<a id="login-btn" href="{% url 'accounts:login' %}" class="btn btn-warning">Login</a>
            {% else %}
                {% if not user.is_staff %}
     	<a href="{% url 'store:cart' %}">
    		<img  id="cart-icon" src="{% static 'images/cart.png' %}">
    	</a>
    	<p id="cart-total">{{ cartitems }}</p>
              {% endif %}
            {% endif %}
    </div>
    </div>
  </div>
</nav>